.grid-container {
	display: grid;
	grid-template-columns: repeat(7, 14.28%);
	/* grid-template-rows: minmax(min-content, 50px); */
	padding: 10px;
}
.row-container {
    grid-column: 1/9;
}

.draggable-row {
    display: grid;
	grid-template-columns: repeat(7, 14.28%);
	/* grid-template-rows: repeat(1, 50px); */
}

.item {
	background-color: #e8e7e7;
	border: 1px solid #fff;
	text-align: center;
	padding: 2px;
}